.header {
    top: 0;
    background-image: url($ioc-himage);

    .logo-area {
        max-width: 50%;
        @media (max-width: $screen-xs-min) {
            max-width: 55%;
        }
        .logo {
            max-width: 100%;
        }
        a:hover, a:focus {
            text-decoration: none;
            background: transparent none repeat scroll 0 0;
        }
        .sitename {
            font-size: 2.5em;
            font-weight: bold;
            color: #555;
            letter-spacing: -1px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .admin-title {
        margin: 13px 10px 5px 0;
        @media (max-width: $screen-sm-min) {
            clear: both;
            margin-top: 10px;
        }
        .admin-site {
            color: $ioc-link;
            font-family: $font-family-serif;
            font-size: 18px;
            &:focus,
            &:hover {
                color: $ioc-link-dark;
            }
        }
    }

    + .container {
        // if container is directly after header, then it will need a margin
        margin-top: 70px;
        @media (min-width: $screen-xs-min) {
            margin-top: 0;
        }
        @media (min-width: $screen-sm-min) {
             margin-top: 50px;
        }
    }
}
